.desciption-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: black;
}
.cards {
  width: 130px;
  height: 120px;
  background-color: rgb(141, 21, 12);
  border-radius: 2px;
}
.cards p {
  font-size: 14px;
  text-align: center;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px 7px;
}
.scroll {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 200px;
  height: 150px;
  overflow-x: scroll;
}
.scroll-box {
  display: flex;
  flex-direction: column;
}
.box {
  width: 70px;
  height: 70px;
  background-color: red;
}
